services:
  app:
    build: app
    command: ["/bin/sh", "/app/entrypoint.sh"]
    networks:
      - network
    volumes:
      - ./app:/app
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URI: mysql://root@database:3306/relay
    env_file:
      - ./app/.env
    depends_on:
      database:
        condition: service_healthy
  database:
    image: mysql:5.7
    networks:
      - network
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: relay
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 5s
networks:
  network:
    driver: bridge
