name: Relay app pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main  
  workflow_dispatch:

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20, 21] 
        
    services:
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: ${{secrets.MYSQL_PASSWORD }}
        options: >-
          --health-cmd="mysqladmin ping -h localhost -u${MYSQL_USER} -p${MYSQL_PASSWORD}"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    env:
        CI: true
           
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Wait for MySQL to be ready
      run: |
        until mysqladmin ping -h 127.0.0.1 -u${{ secrets.MYSQL_USER }} -p${{ secrets.MYSQL_PASSWORD }} --silent; do
          echo "Waiting for database connection..."
          sleep 2
        done

    - name: Install dependencies and run tests
      env:
        NODE_ENV: test
        DATABASE_URL: "mysql://${{ secrets.MYSQL_USER }}:${{ secrets.MYSQL_PASSWORD }}@localhost:${{ secrets.MYSQL_PORT }}/${{ secrets.MYSQL_DB }}"
        FACEBOOK_CLIENT_SECRET: ${{ secrets.FACEBOOK_CLIENT_SECRET }}
        FACEBOOK_CLIENT_ID: ${{ secrets.FACEBOOK_CLIENT_ID }}
        RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
      run: |
        cd backend
        npm install
        npx jest --verbose
      


